<div class="post-detail-container">

  <div>
    <h1>Asking for laptop office work?</h1>
  </div>

  <div class="post-detail">
    <div class="user">
      <div>
        <img id="user-img" src="../../../assets/man.png" alt="">
      </div>

      <div>
        <p id="user-name">hello</p>
      </div>
    </div>

    <div class="question">
      <div class="line1">
        <div>
          2/3/2024
        </div>
        <div>
          #1
        </div>
      </div>

      <div class="line2">
        <div>Question qweeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</div>
      </div>

      <div class="line3">
        <span>
          <button class="love-btn">
          <img id="love-img" src="../../../assets/heart.png" alt="love">
          </button>
          <p id="others">
            person and others
          </p>
        </span>
        <span>
          <button class="reply-btn">
            <img id="love-img" src="../../../assets/reply.png" alt="hello">
            <p id="others-reply">Reply</p>
          </button>
        </span>
      </div>
    </div>
  </div>

</div>

<app-reply></app-reply>
