<div class="reply-container">
  <div class="user">
    <img id="user-img" src="../../../assets/man.png" alt="user">
    <p>username</p>
  </div>

  <div class="question">

    <div class="input">
      <div class="style">
        <span><button id="B">B</button></span>
        <span><button id="I">I</button></span>
        <span><button id="U">U</button></span>
      </div>

        <input type="text" name="" id="input" placeholder="Write your reply here...">
    </div>



    <div class="reply-btn-container">
      <div>
        <button class="reply-btn">
          <p id="others-reply">Post Reply</p>
        </button>
      </div>
    </div>
  </div>
</div>
